<div class="container" ng-controller="voiceRec">
	<header>
		<h2 id="pageTitle">Frog-Ai</h2>
	</header>

	<section class="contentDiv">

		<button id="viewLogButton" ui-sref="trafficHistory" type="button" class="btn btn-info">View All Logs</button>

		<div id="inputContent">
			<label>User Input : </label> <input id="input" type="text"> <button id="rec">Speak</button>
			<br/>
			<textarea id="response" cols="40" rows="5"></textarea>
		</div>
		
		<div id="userLog">
			<input name="name" id="nameLog" type="text"/>
			<input name="traffic" id="trafficLog" type="text"/>
			<input name="date" id="dateLog" type="text"/>
			<input name="time" id="timeLog" type="text"/>
		</div>

	</section>
</div>