<div class="container" ng-controller="voiceRec">
	<header>
		<h2 id="pageTitle">Seal-Ai</h2>
	</header>

	<section id="userInputDiv">
		<div id="inputContent">
			<label>User Input : </label> <input id="input" type="text"> <button id="rec">Speak</button>
			<br/>
			<textarea id="response" cols="40" rows="5"></textarea>
		</div>
		
		<div id="userLog">
			<input name="name" id="nameLog" type="text"/>
			<input name="traffic" id="trafficLog" type="text"/>
			<input name="date" id="dateLog" type="text"/>
		</div>

	</section>
</div>